@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  z-index: 5;
}

.cont-navbar {
  width: 100%;
  padding: 0.3rem 1rem;
}

.navbar-wrapper {
  display: flex;
  width: 78%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.action-camp {
  border: 2px solid tomato;
  padding: 0.6rem;
  color: tomato !important;
}

.link-page {
  text-decoration: none;
}

.cont-list > * {
  margin-right: 1rem;
}

.about-loc,
.about-date,
.about-desc,
.about-title,
.about-sal {
  text-align: center;
}

.social-link {
  width: 100%;
}

.logo-navbar {
  width: 4rem !important;
}

.cont-list-author {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  background-color: #000;
  padding: 0.2rem 3%;
}

.single-cont-list {
  min-height: max-content;
}

.link-nav {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
}

.single-cont-author > * {
  margin-right: 0.5rem;
}

.logo-name {
  font-size: 0.7rem;
  margin-left: -0.8rem !important;
}

.cont-list {
  list-style: none;
  display: flex;
}

.link-nav-page {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

.header-cont {
  background-image: url(./images/river.jpg);
  background-position: center;
  padding: 8rem 0;
}

.intro {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.intro-salutation {
  color: rgb(255, 204, 0);
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 400;
}

.intro-title {
  color: rgb(255, 204, 0);
  font-weight: 800;
  font-size: 2.5rem;
}

.intro-desc {
  background-color: rgba(155, 113, 57, 0.822);
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.intro-date {
  color: #fda61a;
  font-weight: 800;
  font-size: 1.5rem;
}

.intro-location {
  color: rgb(253, 166, 26);
  font-weight: 600;
  font-size: 1.3rem;
}

.main {
  padding: 1rem;
  background-color: #000;
  opacity: 0.9;
  background: radial-gradient(circle, transparent 20%, #000 20%, #000 80%, transparent 80%, transparent), radial-gradient( circle, transparent 20%, #000 20%, #000 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#171717 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #171717 2px, #000 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  background-repeat: repeat;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-cont {
  list-style: none;
  margin: 0 2rem;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-prog-cont {
  list-style: none;
  display: flex;
  background-color: rgba(206, 142, 40, 0.315);
  align-items: center;
  margin: 1rem auto;
  border-radius: 8px;
}

.activity-prog-title {
  color: rgb(255, 179, 0);
  font-size: 1rem;
  font-weight: 800;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  position: relative;
  margin: 1.5rem 0;
}

.main-title::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: rgb(243, 69, 17);
  position: absolute;
  right: 25%;
  bottom: -1rem;
}

.activity-prog {
  margin: 0.5rem;
}

.activity-prog-text {
  color: white;
  font-weight: 500;
}

.activity-prog i {
  color: #fff;
}

.btn-action-reg {
  background-color: rgb(243, 69, 17);
  padding: 1rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  margin: 1.5rem 0;
}

.guest-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  position: relative;
  margin: 2rem 0;
  text-align: center;
  width: auto;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.guest-title::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: rgb(243, 69, 17);
  position: absolute;
  right: 25%;
  bottom: -1rem;
}

.speakers-cont {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  margin: 0 auto;
  grid-row-gap: 3rem;
}

.speaker-cont {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.img-cont {
  width: 100%;
  height: 100%;
  position: relative;
}

.info-cont {
  display: flex;
  flex-direction: column;
  margin-left: 0.8rem;
}

.info-cont > *:not(:last-child) {
  margin-bottom: 0.3rem;
}

.img-bck {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-linear-gradient( 45deg, #646464 25%, transparent 25%, transparent 75%, #646464 75%, #646464), repeating-linear-gradient( 45deg, #646464 25%, #e5e5f7 25%, #e5e5f7 75%, #646464 75%, #646464);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}

.img-speaker {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  display: block;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.068);
}

.name-speaker {
  font-weight: 800;
  font-size: 15px;
}

.job-speaker {
  font-weight: 500;
}

.info-speaker {
  font-weight: 600;
  font-size: 0.8rem;
  font-style: normal;
}

.partner {
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.partners-cont {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partners-cont>* {
  margin: 1rem 1rem;
}

.partner-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(107, 107, 107);
  position: relative;
  margin: 2rem 0;
  text-align: center;
  width: auto;
}

.partner-heading::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: rgb(243, 69, 17);
  position: absolute;
  right: 25%;
  bottom: -1rem;
}

.single-partner-cont {
  display: flex;
  align-items: center;
}

.moz {
  font-weight: 800;
  font-size: 2rem;
  color: rgb(90, 89, 89);
}

.logo-ggl {
  color: rgb(107, 107, 107);
}

.ggl {
  font-weight: 500;
  font-size: 2rem;
  color: #6b6b6b;
}

.nav {
  font-weight: 800;
  font-size: 2rem;
  color: #646464;
}

.daum {
  font-weight: 700;
  font-size: 1.2rem;
  color: #646464;
}

.logo-bnb {
  color: #646464;
}

.airbnb {
  font-weight: 700;
  font-size: 1.2rem;
  color: #646464;
}

.footer {
  background-color: rgb(226, 225, 225);
  padding: 2rem 0;
}

.cont-elm-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text-cont {
  text-align: center;
}

.footer-text-cont>*:not(:last-child) {
  margin-bottom: 0.5rem;
}

.logo-img-cont {
  display: flex;
  align-items: center;
}

.logo-footer {
  width: 10rem;
}

.website-name {
  margin-left: -2rem;
  color: rgb(48, 197, 48);
}

.logo-text {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.copyright-part {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 800;
  color: #333;
}

.society-social-part {
  font-weight: 500;
}

.url-cont {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}

.logo {
  width: 100%;
}

.logo-info-cont {
  width: 50%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo {
  width: 20rem !important;
  padding: 1rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.text-logo {
  text-align: center;
}

.logo-info-cont>*:not(:last-child) {
  margin-bottom: 2.5rem;
}

.logo-title {
  color: #000 !important;
}

.cont-history {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-title {
  color: #000;
}

.cont-img-history {
  width: 90%;
  margin: 2rem auto;
  display: flex;
}

.history-img-cont {
  width: 45%;
  margin: 0 auto;
  position: relative;
}

.summit-history-img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.text-history {
  text-align: center;
}

.cont-hist-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.246), rgba(255, 255, 0, 0.239));
  transform: translate(-50%, -50%);
}

.hist-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .speakers-cont {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    margin: 0 auto;
    grid-row-gap: 3rem;
  }
  .speaker-cont {
    display: flex;
    height: max-content;
    width: 80%;
  }
  .activity-cont {
    list-style: none;
    margin: 0 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  .activity-prog-cont {
    flex-direction: column;
  }
  .activity-cont>*:not(:last-child) {
    margin-right: 0.5rem;
  }
  .activity-prog-text {
    text-align: center;
  }
  .intro {
    width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
  }
}